.cbox {
    background-color: white;
    height: auto;
    padding: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 20px;
    transition: box-shadow 0.3s, transform 0.3s;
}

.cbox:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
    transform: scale(1.03);
}

.cname {
    background-color: white;
    padding: 5px;
    font-weight: bold;
    color: purple;
    text-decoration: none;
    font-size: 16px;
}

@media (max-width:500px) {
    .cbox {
        padding: 0px 4px;
        margin: 0 10px;
        height: auto;
        align-items: center;
        padding: 1px;
        width: auto;
        border-radius: 3px;
    }
}

@media (max-width:375px){
    .cbox{
        padding: 0 2px;
        margin: 0 5px;
    }
    .cname{
        font-size: 12px;
    }
}