.nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(219, 218, 218);
    color: indigo;
    position: fixed;
    padding: 0 15px;
}

.nav-icon {
    font-size: 50px;
    color: inherit;
    margin: auto 10px 10px 10px;
}

b {
    font-size: 50px;
    padding-bottom: 9px;
    color: inherit;
}

.search {
    display: flex;
    flex-grow: 1;
    min-width: 150px;
    margin-left: 16px;
    max-width: 60%;
}

#search-box {
    font-size: 20px;
    width: 100%;
    padding: 5px;
    padding-left: 55px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: black;
    background-color: white;
    position: relative;
    border-radius: 20px;
}

#search-box::placeholder {
    font-size: 16px;
    padding-left: 3px;
}

#search-icon {
    background-color: white;
    font-size: 31.1px;
    padding: 8px;
    padding-right: 15px;
    width: 55px;
    height: 39px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    color: inherit;
    position: absolute;
    border-radius: 20px;
}

.login {
    padding: 20px 0px 20px 0px;
    margin-left: 25px;
}

.login a {
    text-decoration: none;
    color: black;
    padding: 20px;
    color: inherit;
}

.login a:hover {
    border: 1px solid indigo;
}

.theme {
    font-size: 20px;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    border: none;
}

.theme:hover {
    border: 1px solid indigo;
}

.cart-icon {
    padding: 17px;
    font-size: 35px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: inherit;
}

.cart-icon:hover {
    border: 1px solid indigo;
}

span {
    position: absolute;
    font-size: 20px;
    right: 2px;
    top: 2px;
}

.dark-theme {
    background-color: black;
    color: white;
}

.sidebar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: 0;
}

#sidebar-icon {
    display: flex;
    color: indigo;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width:1440px) {

    .login,
    .cart-icon,
    .theme,
    .s {
        display: none;
    }

    .search {
        width: 150px;
        max-width: 60%;
        margin-right: 10px;
    }

    .nav {
        justify-content: space-between;
    }
}

@media (min-width:1441px) {

    .sidebar,
    #sidebar-icon,
    .s {
        display: none;
    }
}

@media (max-width:768px){
    .nav-icon{
        font-size: 30px;
        margin: auto;
        margin-top: 10px;
    }
    b{
        font-size: 30px;
        margin-left: 3px;
    }
}

@media (max-width:355px){
    .nav-icon{
        font-size: 23px;
        margin: auto;
        margin-top: 15px;
    }
    b{
        font-size: 23px;
    }
    #sidebar-icon{
        font-size: 20px;
    }
    .search{
        height: 40px;
        padding: 2px;
    }
    #search-icon{
        height: 36px;
    }
    
}

.cart-container {
    width: 300px;
    position: fixed;
    height: 100Vh;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.incart-title {
    width: 90%;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: large;
    padding-left: 30px;
    font-weight: 600;
}

.cartbar-close {
    width: 10%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    margin-left: 5px;
}

.cart-item{
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    padding: 5px;
}

.sidebar-cross{
    margin: 15px;
}

.cart-container ul{
    display: block;
    margin-top: 10px;
}

.s1{
    flex-direction: column;
}

.sidebar-content{
    list-style: none;
    margin: 1px;
    padding: 0;
}

li{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

li:hover{
    border: 1px solid indigo;
}

#zero{
    position: absolute;
    left: 53%;
    font-size: 10px;
}

#defmsg{
    margin-top: 100px;
    margin-right: 90px;
}